{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{  article.title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="/top">掲示板</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" href="/">新規作成</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <div style="margin-top: 70px; margin-left: 150px; margin-right: 150px;">
    <div class="card" style="margin-top: 20px;">
      <div class="card-body">
          <h2 class="card-title">{{  article.title }}</h2>
          <div style="text-align: right;"><small>[{{ article.posted_at }}]</small></div>
          <div class="card-text">
              {{ article.body |linebreaksbr }}
          </div>
      </div>
  </div>

    
    <div style="margin-top: 70px; margin-bottom: 200px;">
      <hr>
    {% if comments %}
    {% for comment in comments %}
    <div class="card" style="margin-top: 20px;">
      <div class="card-body">
          <div class="card-text">
            {{ comment.text | linebreaksbr }}
          </div>

    <div style="text-align: right;"><small>[{{ comment.posted_at }}]</small></div>
  </div></div>
    {% endfor %}
    {% else %}
    <p></p>
    {% endif %}
    </div></div>
    

    <div style="position: fixed; bottom:0px; right:0px; left:0px; background-color: rgba(255, 255, 255, 0.404); border-top:solid thin black;">
    
    <form action="{% url 'detail' article.id %}" method="post" style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;">
      {% csrf_token %}
      <div>
        <label for="textInput" class="form-label"></label><br>
        <textarea id="textInput" name="text" rows="2" class="form-control"></textarea>
      </div>
      <div style="text-align: right; margin-top: 10px;">
        <button type="submit" class="btn btn-primary">送信</button>
      </div>
    </form></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>
  </body>
</html>
